<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>User</h1>

<table border="2">
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.username}">user.username</td>
        <td th:text="${user.lastName}">user.lastName</td>
        <td th:text="${user.age}">user.age</td>
    </tr>
    </tbody>
</table>

<br><br><br>
<a href="/logout">Logout</a>
<br>
</body>
</html>